.weekly-ask {
    position: absolute;
    /* width: 302px; */
    /* height: 325.25px; */
    left: 560px;
    top: 200px;
}

.weekly-ask ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    width: 400px;
    margin-bottom: 20px;
}

.weekly-ask ul li{
    padding: 0;
}

.weekly-ask .comment textarea {
    display: block;
    width: 100%;
}

.title {
    /* position: absolute; */
    /* width: 302px; */
    /* height: 71px; */
    /* left: 58px; */
    /* top: 278px; */
    
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    /* line-height: 32px; */
    /* or 89% */
    
    /* font-feature-settings: 'pnum' on, 'lnum' on; */
    
    color: #333333;
    /* color: yellow; */
    /* list-style-type: none; */
    display: inline;
}

.root-post {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    /* Text/Title Text */
    
    color: #333333;
    /* color: blue; */
    
    list-style-type: none;
    
    /* position: relative; */
    top: 50px;
    left: 0px; 
    display: inline;
}

.author-name {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 137% */
    
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    color: #333333;
    /* color: red; */
    
}

.post-time {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    
    
    /* Text/Body Text */
    
    color: #666666;
    /* color: green; */
}

.post-info {
    /* display: grid; */
    grid-template-columns: repeat(2, auto);
    /* position: relative;
    top: 60px; */
}

.btn-react {
    background: #FEFEFE ;
    border-radius: 8px;
    border-color:#E36968;
    color: #E36968;
    text-align: center;
    text-decoration: none;
}

.btn-comment {
    background: #E36968;
    border-radius: 8px;
    border-color: #FEFEFE;
    color: #FEFEFE;
    text-align: center;
    text-decoration: none;
}

.avatar {
    width: 40px;
    display: inline-block;
}

.comment-text {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    /* line-height: 32px; */
    /* or 133% */
    
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    /* Text/Title Text */
    
    color: #333333;
    /* color: blue; */
    
    list-style-type: none;
    
    /* position: relative; */
    top: 50px;
    left: 0px; 
    display: inline;
}

.comment-author {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    /* identical to box height, or 137% */
    
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    color: #333333;
    /* color: red; */
    
}

.comment-time {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 24px */
    
    
    /* Text/Body Text */
    
    color: #666666;
    /* color: green; */
}